*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/config/*.yml
/public/system/*
/coverage/
/spec/tmp/*
*.csv
*.db
**.orig
rerun.txt
pickle-email-*.html
Gemfile.lock