*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.idea/*
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
*.csv
*.db
**.orig
rerun.txt
pickle-email-*.html
config/database.yml
config/secrets.yml
config/shared/*
public/assets/*
public/uploads/*
Backup/*.yml
