<script src="/highstock/js/highstock.js"></script>
<script src="/highstock/js/highstock_ja.js"></script>
<script type="text/javascript">
$(function() {
highstock_created('/graphs/created');
});
</script>

<h1>レポートグラフ</h1>
<div class="row-fluid">
	<div class="span1">
		<%= render 'sidebar' %>
    </div>
    <div class="span5">

    </div>
</div>
