<div class="row-fluid">
	<div class="span12 well">
		<h5>未完了タスクなし案件</h5>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>会社名</th>
					<th>ステータス</th>
					<th>営業マン</th>
					<th>最終更新日</th>
				</tr>
			</thead>
			<tbody>
				<% if @uncomplite.present? %>
				<% @uncomplite.each do |c|%>
				<tr>
					<td><%= link_to c["client_name"] ,{action: "edit", id: c["comp_id"]} %></td>
					<td><%= c["status"]%></td>
					<td><%= get_user_name(c["sales_person"])%></td>
					<td><%= c["up_at"]%></td>
				</tr>
				<%end%><%end%>
			</tbody>
		</table>
	</div>
</div>