<h1>会社編集</h1>

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs" id="edit_tab">
    <li class="active"><a href="#edit_tab1" data-toggle="tab" id="edit_tab1_link">会社情報</a></li>
    <li><a href="#edit_tab2" data-toggle="tab" id="edit_tab2_link">カリキュラム</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="edit_tab1">
      <%= render "edit1"%>
    </div>
    <div class="tab-pane" id="edit_tab2">
      <%= render "edit2"%>
    </div>
  </div>
</div>
