
<h1>コクピット</h1>
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs" id="cockpit_tab">
    <li><a href="#tab1" data-toggle="tab" id="tab1_link">全員の未完了タスク</a></li>
    <li class="active"><a href="#tab2" data-toggle="tab" id="tab2_link">ログインユーザーの未完了タスク</a></li>
    <li><a href="#tab3" data-toggle="tab" id="tab3_link">未完了タスクなし案件</a></li>
    <li><a href="#tab4" data-toggle="tab" id="tab4_link">未完了タスクのコース</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane " id="tab1">
      <%= render "cockpit1"%>
    </div>
    <div class="tab-pane active" id="tab2">
      <%= render "cockpit2"%>
    </div>
    <div class="tab-pane" id="tab3">
      <%= render "cockpit3"%>
    </div>
    <div class="tab-pane" id="tab4">
      <%= render "cockpit4"%>
    </div>
  </div>
</div>


