
<h1>コクピット</h1>
<div class="row-fluid">
	<div class="span6 well">
		<h5>未完了のタスク</h5>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>会社名</th>
					<th>ステータス</th>
					<th>期日</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>会社</td>
					<td>すて</td>
					<td>おい</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="span6 well">
		<h5>タスクがない会社</h5>		
	</div>
</div>
