    <h1>検索結果</h1>
    <div class="btn-group dropup" style="float:right">
      <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
        チェックしたものを <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a href="#" id="label" data-source="<%= url_for(:action => 'pdf') %>">ラベル印刷</a>
          <a href="#" id="up_postsend" data-source="<%= url_for(:action => 'up_postsend') %>">郵送済みへステータス変更</a>
        </li>
      </ul>
    </div>
<%= flash_notifications %>
<table id="company" class="display" data-source="<%= url_for :controller => 'companies', :action => 'search', :format =>"json", :company =>params[:company] %>">
<thead>
  <tr>
    <th class="client_name">会社名</th>
    <th class="rank">ステータス</th>
    <th>担当者</th>
    <th>更新日</th>
    <th>次回アプローチ</th>
    <th>営業マン</th>
    <th class="contact">コンタクト</th>
    <th class="check">CH</th>
  </tr>
</thead>
<tbody>
  <% @datas.each do |company| %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <% end %>
</tbody>
</table>
