h1見込み高い案件

= link_to "CSV出力", {:action => "usershow", :format => "csv"}, { :class => "btn" }

| / 表示営業マン
=select_tag "sales_person_change" , options_from_users(params[:id]), :include_blank => true 

table style="border-collapse:collapse;" class="table table-bordered" id="usershow-table"
  thead
    tr
      th>ID
      th 会社名
      th 状態ステータス
      th 進行ステータス
  tbody
    - @negos.each_with_index do |n,i| 
      tr class="#{cycle('even','odd')} #{ i == 4 ? 'big_border' : nil }"
        td class="level1" data-pk="#{n.id}"
          = i+1
        td = link_to n.company.client_name , {action: "edit", id: n.company.id}
        td = n.company.active_st_text
        td = n.status.name
      - n.company.contacts.each do |o|
        tr class="tr-contact-#{n.id} level2" style="display:none"
          td &nbsp;
          td style="width:100px;" = o.type
          td = o.created_at.strftime("%Y-%m-%d")
          td colspan="6" = o.memo
