<h1>teachers 一覧</h1>

<%= link_to '新規追加', new_teacher_path, :class => 'btn' %>

<div class="tabbable">
 <ul class="nav nav-tabs">
  <li class="active"><a href="#tab1" data-toggle="tab">詳細情報</a></li>
  <li><a href="#tab2" data-toggle="tab">講師登録状況</a></li>
 </ul>
 <div id="my-tab-content" class="tab-content">
  <div class="tab-pane active" id="tab1">
   <%= render 'edit1' %>
  </div>
  <div class="tab-pane" id="tab2">
   <%= render 'edit2' %>
  </div>
 </div>
</div>


