ul
  - @course.errors.full_messages.each do |msg|
    li = msg
= f.input :name
= f.input :user_id , as: :select, collection: User.all, hint: "ユアブライト社内における、本コースの担当者です"
= f.input :lead_id, input_html:{ class: "search_lead"}

= f.input :address
= f.input :station
= f.input :responsible
= f.input :tel
= f.input :students
= f.input :memo
