tr
td = f.text_field :day , :class=>"datepicker input-small course_datepicker", :required => true
td = time_input(f, "start_time", true)
td = time_input(f, "end_time", true)
td = time_input(f, "break_start", false)
td = time_input(f, "break_end", false)
td = f.select :teacher_id , options_teachers(f.object.teacher_id),{:include_blank => true}, :class => "select_teacher_id input-medium"
td = f.select :user_id , options_from_users(f.object.user_id),{:include_blank => true}, :class => "select_user_id input-medium"
td = check_period_img(f, "resume_flg")
td = check_period_img(f, "equipment_flg")
td = check_period_img(f, "attend_flg")
td = check_period_img(f, "report_flg")
td = f.text_field :memo
td  
  - if delete_flg == true
    = link_to_remove_fields "削除", f
