// Place all the styles related to the company controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.big_border {
  border-bottom:3px black solid;
}

.level1 {
 cursor: pointer;
}

tr.odd {
  background-color:#EEEEEE;
}

.level2 {
  display:none;
  background-color:#e3e3e3;
}

#company_sidebar.affix {
  position: static;
}
@media screen and (min-width: 992px) {
  #company_sidebar.affix,
  #company_sidebar.affix-bottom {
    width: 213px;
  }
  #company_sidebar.affix {
    position: fixed;
    top: 60px;
  }
  #company_sidebar.affix-bottom {
    position: absolute; 
  }
}
@media screen and (min-width: 1200px) {
  #company_sidebar.affix-bottom,
  #company_sidebar.affix {
    width: 263px;
  }
}

.table-lead-history-status th {
  font-weight: normal;
  white-space:nowrap;
}

.table-lead-history-status td {
  font-weight: normal;
}

.color-box {
  float: left;
  width: 11px;
  height: 11px;
  margin-right: 3px;
  border: 1px solid #ccc;
  moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
