// Place all the styles related to the company controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.big_border {
  border-bottom:3px black solid;
}

.level1 {
 cursor: pointer;
}

tr.odd {
  background-color:#EEEEEE;
}

.level2 {
  display:none;
  background-color:#e3e3e3;
}

#company_sidebar.affix {
  position: static;
}
@media screen and (min-width: 992px) {
  #company_sidebar.affix,
  #company_sidebar.affix-bottom {
    width: 213px;
  }
  #company_sidebar.affix {
    position: fixed;
    top: 60px;
  }
  #company_sidebar.affix-bottom {
    position: absolute; 
  }
}
@media screen and (min-width: 1200px) {
  #company_sidebar.affix-bottom,
  #company_sidebar.affix {
    width: 263px;
  }
}
